@media (min-width: 980px) {
  span.applicationtitle {
    display: inline-block;
    width: 5em;
    background-image: url(img/dr_icon.png);
    background-repeat: no-repeat;
    background-position: 0.25em center;
    background-size: 2em;
    padding-top: 1em;
    padding-left: 2.5em;
    margin-right: 0.75em;
    color: #0000ff;
    font-weight: bold;
  }
}

div.build {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 8pt;
  color: #aaaaaa;
}

div.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  color: #12385a;
  margin-bottom: 5px;
  height: 30px;
  animation-duration: 1s;
  animation-name: showlogo;
}

@keyframes showlogo {
  0% {
    height: 60px;
  }
  100% {
    height: 30px;
  }
}

@keyframes showlogoHover {
  0% {
    height: 30px;
  }
  100% {
    height: 60px;
  }
}

div#Page {
  height: calc(100vh - 4px);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 0px none transparent;
}

div.DRmessage {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem;
  background-color: #cc0000;
  position: absolute;
  top: 0;
  height: 7rem;
  left: calc(50% - 10rem);
  width: 20rem;
  opacity: 1;
  /*z-index: 999;*/
  animation: 4s ease 0s normal forwards 1 message;
}

div.rating {
  margin: 0px 0 0px 0;
}

@keyframes message {
  0% {
    opacity: 0;
    top: -8rem;
  }
  30% {
    opacity: 1;
    top: 0;
  }
  80% {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 0.7;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -8rem;
  }
}

div.chapter {
  position: relative;
  margin: 0px;
}
div.chapter > div {
  position: relative;
  margin: 0;
  padding: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00a3ff;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
div.chapter > div:hover {
  background-color: #f7f7f7;
}

div.question {
  margin: 0;
  padding: 0;
}

div.question > div {
  display: block;
  position: relative;
  padding: 6px 4px 6px 25px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #00a3ff;
  cursor: pointer;
  min-height: 1.75rem;
}

div.question > div:hover {
  background-color: #f7f7f7;
}

span.warning {
  display: inline-block;
  color: #cc0000;
  position: absolute;
  right: 45px;
  top: 0px;
  font-size: 90%;
  text-align: center;
  height: 1.7rem;
  line-height: 1.6rem;
  font-weight: bold;
}

span.chapterMissing {
  color: #cc0000;
}

span.chapterOk {
  color: #00bb66;
}

span.ignored {
  color: #aaaaaa;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 1 !important;
}

.ui.inline.dropdown .dropdown.icon {
  vertical-align: inherit;
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold !important;
  color: #336699 !important;
}

.ui.inline.dropdown > .text {
  font-size: 1rem !important;
  font-weight: normal !important;
}

div.chapterMenuItem {
  display: inline-block;
  padding: 6px 22px 6px 6px;
  margin: 0;
  font-weight: normal;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #000000, inset 3px 3px 6px rgba(255, 255, 255, 0.5);
}

div.toCheck {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: -3px;
  background-image: url(img/red_point.png);
}

b {
  font-weight: bold;
}

b.block {
  display: inline-block;
}

b.blockindent {
  display: inline-block;
  padding-left: 2rem;
}

div.labeltop {
  color: #888888;
  font-size: 90%;
}

span.label {
  display: inline-block;
  width: 14rem;
  color: #888888;
  text-align: right;
  padding: 0 1rem 0.25rem 0;
}

span.label.short {
  width: 9rem;
}

th {
  cursor: pointer;
  z-index: 100 !important;
  padding-left: 24px !important;
}

td {
  z-index: 99 !important;
}

th.ASC {
  background-image: url(img/asc.png) !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: 18px 22px !important;
}

th.DESC {
  background-image: url(img/desc.png) !important;
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: 18px 22px !important;
}

td.dr_error {
  position: relative;
}

td.dr_error::after {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  color: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url(img/red_corner.png);
}

td.dr_warning {
  position: relative;
}

td.dr_warning::after {
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  color: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url(img/orange_corner.png);
}

div.filterbutton {
  flex: auto;
  border: 1px solid #aaaaaa;
  padding: 8px 8px;
  margin: 6px 2px;
  font-size: 90%;
  cursor: pointer;
}

div.filterbutton.up {
  background-color: #eeeeee;
  box-shadow: 1px 1px 4px #000000, inset 3px 3px 4px rgba(255, 255, 255, 0.5);
  color: #888888;
}

div.filterbutton.down {
  background-color: #ffffff;
  box-shadow: 1px 1px 4px #ffffff, inset 3px 3px 4px rgba(0, 0, 0, 0.5);
  color: #000000;
}

th.rotated div {
  display: inline;
  transform: rotate(90deg);
  font-size: 80%;
}

span.counterof {
  position: relative;
  top: -7px;
  left: -3px;
  font-size: 75%;
  color: #006600;
}

.dropZone {
  padding: 2rem;
  background-color: #dddddd;
  color: #888888;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
}

.dropZone.drag {
  background-color: #ddddff;
  border: 1px solid rgba(0, 0, 255, 1);
}

div.excelfile {
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 84px;
  background-image: url(img/excel.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.wait4Excel {
  cursor: wait;
  opacity: 0.5;
  display: inline-block;
  width: 100px;
  height: 84px;
  background-image: url(img/excel.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.edit_settings {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(img/edit_settings.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.formerror {
  display: block;
  margin: 0.25rem 0.5rem;
  width: 100%;
  min-height: 2.5rem;
  color: #cc0000;
  line-height: 1.25rem;
}

div.tabular.menu > a.active.item {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.loader {
  margin: 2rem 0;
  position: relative;
  top: 50%;
  left: calc(50% - 60px);
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0000ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderBottom {
  margin: auto;
  position: relative;
  top: calc(50% + 160px);
  text-align: center;
  color: #0000ff;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

div.DR {
  padding-top: 0.5rem;
  background-color: #f7f7f7;
}

div.DR div.grid {
  margin-top: -0.5rem !important;
  margin-right: -2rem;
  border-radius: 4px;
}

div.DR div.menu {
  padding-top: 2px;
}

div.DR div.column {
  margin: 0 !important;
  padding: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

@media (max-width: 979px) {
  span.applicationtitle {
    display: none;
  }

  span.label {
    display: block;
    text-align: left;
    padding: 0 0 0 0.5rem;
  }

  b.block {
    display: block;
    padding-left: 1.5rem;
    min-height: 2.1rem;
  }

  .hiddenIfSmall {
    display: none;
  }

  .ui.icon.button,
  .ui.icon.buttons .button {
    padding: 6px !important;
  }
}
