.commentlist {
  position: relative;
  background-color: #eeeeee;
  cursor: pointer;
  padding: 0.125rem 0 0.25rem 1rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #888888;
}

.commentlist .user {
  font-size: 80%;
  display: inline-block;
  color: #444466;
  margin-right: 1rem;
}

.commentlist .time {
  font-size: 80%;
  display: inline-block;
  color: #999999;
}

.commentlist .value {
  position: relative;
  display: block;
  padding-left: 1rem;
}

span.completion {
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 4px;
  width: 16px;
  height: 9px;
  margin-right: 4px;
}

span.completion.not_yet_in_process {
  background-color: #e7e7e7;
}

span.completion.in_clarification {
  background-color: #ffffff;
}

span.completion.in_process {
  background-color: #dd9900;
}

span.completion.overdue {
  background-color: #aa0000;
}

span.completion.completed {
  background-color: #009900;
}
