div.gallery {
  display: flex;
  height: 420px;
}

div.gallery div.left,
div.gallery div.right {
  align-content: center;
  height: 100%;
  width: 3rem;
  background-color: #e0e0e0;
  text-align: center;
  background-position: center center;
  background-size: 2rem 4rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.gallery div.left {
  background-image: url(img/left.png);
  border-top: 1px solid #ffffff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #ffffff;
}

div.gallery div.right {
  background-image: url(img/right.png);
  border-top: 1px solid #ffffff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #ffffff;
}

div.gallery div.left:hover,
div.gallery div.right:hover {
  background-color: #ececec;
}

div.gallery div.imgcontainer {
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #cccccc;
  background-color: #f0f0f0;
}

table.popup {
  border-collapse: collapse;
}

table.popup th,
table.popup td {
  padding: 2px 4px;
  border: 1px solid #dddddd;
}

table.popup th {
  font-weight: bold;
}

span.selector {
  display: inline-block;
  padding: 2px 1rem;
  margin-right: 2px;
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #ffffff;
}

span.selector:hover {
  background-color: #ececec;
}

span.selector.selected {
  color: #0000ff;
  background-color: #f0f0f0;
  border-top: 1px solid #aaaaaa;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #aaaaaa;
}
