div.login {
  margin: auto;
  margin-top: 2rem;
  padding: 5.25rem 0 1rem 0;
  width: 16rem;
  background-image: url(img/dr.png);
  background-repeat: no-repeat;
  background-position: center 0.5rem;
  background-size: 7rem;
}

.DRlink {
  display: inline-block;
  padding: 1rem 0.25rem;
  font-size: 90%;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.DRlink:hover {
  text-decoration: underline !important;
}

.DRlink:focus {
  text-decoration: underline !important;
  outline: 1px dotted #0000ff !important;
}

div.DRmessage span {
  color: #ffffff;
  position: absolute;
  top: calc(50% - 0.5rem);
  margin: auto;
}

.applicationname {
  color: #0000ff;
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}

div.build {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #aaaaaa;
  font-size: 8pt;
  text-align: right;
  padding-right: 1rem;
}
