div.menu {
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
  position: relative;
}

div.menu a.right {
  position: absolute;
  right: 20px;
  top: 14px;
}

div.menu a.item {
  color: #999999;
  font-weight: normal;
  background-color: transparent;
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

div.menu a.active.item {
  color: #000000;
  cursor: auto;
  border-bottom: 2px solid #0000ff;
}

div.menu a.profile {
  color: #4183c4 !important;
}

div.tabular.menu a.item {
  color: #666666;
  font-weight: normal !important;
  background-color: transparent;
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
}

div.ui.attached.tabular.menu a.item {
  background-color: #f0f0f0;
}

div.ui.attached.tabular.menu a.item.active {
  background-color: #f7f7f7;
  color: #0000ff !important;
}

div.menu a.item:hover {
  color: #0000ff !important;
  border-bottom: 2px solid #0000ff;
}

div.tabular.menu a.item:hover {
  color: #0000ff !important;
}

a.item {
  color: #888888 !important;
}

a.item:hover {
  color: #0066cc !important;
}

a.item:active {
  color: #111111 !important;
}

a.item.active,
div.active a {
  font-weight: normal !important;
}

div.item.active.custapp,
div.item.active.custrole,
div.item.active.contact,
div.item.active.domain,
div.item.active.document,
div.item.active.user {
  padding-right: 6px !important;
}

a.active.item {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 0 !important;
}

div.item.active {
  margin-bottom: -1px !important;
}

div.menu a.active {
  cursor: default !important;
}

div.topMenu a {
  color: #888888 !important;
}
div.topMenu a.active,
div.topMenu div.active a {
  color: #000000 !important;
}
div.topMenu a:hover {
  color: #0066cc !important;
}

i.log.out.icon {
  color: #888888;
  cursor: pointer;
}

i.log.out.icon:hover {
  color: #cc0000;
}

div.innertab > div.ui.attached.tabular.menu > a.item {
  border: 1px solid #d4d4d5;
}

div.innertab > div.ui.attached.tabular.menu > a.active.item {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -2px;
  z-index: 100;
}

div.tabcontent {
  padding: 1em;
  position: relative;
  border-right: 1px solid #d4d4d5;
  border-bottom: 1px solid #d4d4d5;
  border-left: 1px solid #d4d4d5;
}
