div.message {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem;
  background-color: #cc0000;
  position: absolute;
  bottom: 1rem;
  height: auto;
  left: calc(50% - 15rem);
  width: 50rem;
  opacity: 1;
  z-index: 999;
}

div.message.error {
  color: #ffffaa;
  background-color: #cc0000;
  animation: 14s ease 0s normal forwards 1 messageautoclose;
}

div.message.warning {
  color: #000000;
  background-color: #ddcc00;
  animation: 3s ease 0s normal forwards 1 messageautoclose;
}

div.message.ok {
  color: #ffffff;
  background-color: #449922;
  animation: 3s ease 0s normal forwards 1 messageautoclose;
}

@keyframes messageautoclose {
  0% {
    opacity: 1;
    left: calc(50% - 25rem);
  }
  80% {
    opacity: 1;
    left: calc(50% - 25rem);
  }
  90% {
    opacity: 0.5;
    left: calc(50% - 25rem);
  }
  100% {
    opacity: 0;
    left: -51rem;
  }
}
