div.mobileMargin {
  height: 33px;
}

div.mobileMenuContainer {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 33px;
  height: 33px;
  background-image: url(img/menubars.png);
  background-repeat: no-repeat;
}
@media (min-width: 980px) {
  div.mobileMenuContainer div.ui.item,
  div.mobileMenuContainer div.item.profile {
    padding: 1em !important;
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
  }
}

@media (max-width: 979px) {
  div.mobileMenuContainer div.item.profile {
    display: block;
    position: relative;
    right: 0px;
    top: 0px;
  }
}

div.mobileMenuContainer > div {
  display: none !important;
}

div.mobileMenuContainer.expanded {
  right: 0rem;
  padding: 0.5rem 0 0 0;
  display: table;
  background-color: #f0f0f0;
  width: auto;
  height: 14rem !important;
  background-image: none;
  z-index: 9999;
  border: 1px solid #dddddd;
}

div.mobileMenuContainer.expanded > div {
  display: inherit !important;
  padding: 0 !important;
}

div.mobileMenuContainer.expanded > div.mobile > a {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #ffffff;
  right: 0;
}

div.mobileMenuContainer.expanded > div.mobile > a.right {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #ffffff;
  right: 0;
}

div.mobileMenuContainer.expanded > div.mobile > a.right > i.user.icon {
  position: absolute;
  right: 40px;
}

div.mobileMenuContainer.expanded > div.mobile > a.right > i.log.out.icon {
  position: absolute;
  right: 20px;
}

div.mobileMenuContainer.expanded > div.mobile > a:hover {
  background-color: #f0f0f0 !important;
}

.expanded div.item.data {
  background-color: #ffffff !important;
}
.expanded div.item.data div {
  border-bottom: 1px solid transparent;
}

.expanded > .menu > .item {
  border-top: 1px solid #ffffff !important;
  border-bottom: 1px solid #aaaaaa !important;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

td.mobile > span.dist {
  display: inline-block;
  position: absolute;
  top: -1.25rem;
  border: 1px dotted red;
  width: 0.5rem;
  height: 1rem;
}

td.mobile > div {
  display: inline-block;
  padding-left: 0px;
  position: relative;
}

td.mobile > div.hasPopup {
  display: inline-block;
  top: 0.18em;
  padding-left: 0px;
  position: relative;
  width: 55%;
  word-wrap: break-word;
}

td.mobile > span.sortlabel {
  display: inline-block;
  width: 45%;
}

td.mobile.editrow {
  position: relative;
  max-height: 1px !important;
}

td.mobile.editrow i {
  position: absolute;
  right: 0px;
  top: -12px;
  padding: 0.25rem 1rem;
}

td.mobile > div {
  display: inline-table;
  padding: 0;
  margin: 0;
}
