.modalHeader {
  color: #888888 !important;
  font-weight: normal !important;
}

.modalHeader b {
  margin-left: 1rem;
  color: #0000aa;
  font-weight: bold;
}

h2.modalContent {
  font-weight: bold !important;
  padding-bottom: 1rem !important;
}

div.modalResult {
  font-weight: bold;
  color: #408020;
  animation: 1s ease 0s normal forwards 1 fadeIn;
}

div.modalResult.error {
  color: #cc4400;
}

div.modalResult i {
  font-style: italic;
  color: #cc0000;
  font-weight: normal;
}

.overflow {
  display: block !important;
  max-height: 60vh;
  overflow-y: auto;
}

.actual {
  font-weight: bold;
  color: #448800;
}

.validrange {
  font-weight: normal !important;
}
