table.small {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}
table.small td,
table.small th {
  padding: 2px 4px !important;
  font-size: 1rem !important;
  white-space: nowrap !important;
}

div.percent input {
  text-align: right !important;
  padding-right: 1.25rem !important;
}

div.cft {
  margin-top: 0.125rem;
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 2rem;
  line-height: 2rem;
  outline: 1px solid #aaaaaa;
  text-align: center;
}

div.cft.ampel {
  width: 1.8rem !important;
  font-size: 0.7rem !important;
  /*transform: scale(0.8);*/
}

div.cft div {
  position: absolute;
  left: 0px;
  display: none;
  outline: 1px solid #aaaaaa;
  text-align: center;
}

div.cft.gray {
  background-color: #bbbbbb;
  color: #ffffff;
}

div.cft.red {
  background-color: #cc0000;
  color: #ffffff;
}

div.cft.yellow {
  background-color: #ffcc00;
  color: #000000;
}

div.cft.green {
  background-color: #44bb00;
  color: #ffffff;
}

div.cft.hovered div {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}

div.cft div.gray {
  top: 0;
  background-color: transparent;
}

div.cft div.red {
  top: 2rem;
  background-color: #cc0000;
}

div.cft div.yellow {
  top: 4rem;
  background-color: #ffcc00;
}

div.cft div.green {
  top: 6rem;
  background-color: #44bb00;
}

div.cftpopup h1 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

div.cftpopup h2 {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

div.cftpopup p {
  text-align: left;
}

div.popupHidden {
  display: none;
}

div.robustness {
  margin-top: 0.125rem;
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  outline: 1px solid #aaaaaa;
  text-align: center;
}

div.robustness.ampel {
  width: 1.8rem !important;
  font-size: 0.7rem !important;
  /*transform: scale(0.8);*/
}

div.robustness div {
  position: absolute;
  left: 0px;
  display: none;
  outline: 1px solid #aaaaaa;
  text-align: center;
}

div.robustness.gray {
  background-color: #bbbbbb;
  color: #ffffff;
}

div.robustness.red {
  background-color: #cc0000;
  color: #ffffff;
}

div.robustness.yellow {
  background-color: #ffcc00;
  color: #000000;
}

div.robustness.green {
  background-color: #44bb00;
  color: #ffffff;
}

div.robustness.hovered div {
  display: inline-block;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

div.robustness.hovered div.green::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 2rem;
  padding: 0;
  margin: 0;
  outline: 1px solid #ffffff;
  color: transparent;
  background: #ffffff;
  z-index: 999;
}

div.robustness div.gray {
  top: 0;
  background-color: transparent;
}

div.robustness div.red {
  top: 2rem;
  background-color: #cc0000;
}

div.robustness div.yellow {
  top: 4rem;
  background-color: #ffcc00;
}

div.robustness div.green {
  top: 6rem;
  background-color: #44bb00;
}

div.robustnesspopup h1 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

div.robustnesspopup h2 {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

div.robustnesspopup p {
  text-align: left;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.integer,
.integer > input {
  text-align: right !important;
}

label.mandatory::after {
  content: ' *';
  color: #cc0000;
}

.selectedCurrency {
  background-color: #3366bb;
  color: #ffffff;
}

.symbol {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(img/symbols.png);
  background-repeat: no-repeat;
  background-size: cover;
}

table.doclist {
  margin: 1rem;
  border-collapse: collapse;
}

table.doclist td {
  padding: 0.25rem 1rem;
  border: 1px solid #dddddd;
}

tbody.z95 td {
  z-index: 95 !important;
}

div.ui.selection.dropdown.no_padding > div.menu > div.item {
  padding: 0 !important;
}

div.ui.small.modal.transition.visible.active {
  margin-top: 4rem;
}

div.expandable.open div.title {
  background-image: url(img/expand_open.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: right;
}

div.expandable.open div.title div.hiddenIfExpanded {
  color: transparent;
}

div.expandable.closed div.title div.hiddenIfExpanded {
  display: block;
  padding-right: 2rem;
  max-height: 1rem;
  word-break: break-all !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.expandable.closed div.title {
  background-image: url(img/expand_closed.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: right;
}

div.expandable div.content {
  background-color: rgba(255, 255, 255, 0.3);
  overflow-wrap: anywhere;
}

div.expandable.closed div.content {
  display: none;
}

input#duration,
input#durationminutes {
  text-align: right;
}

div.ui.input.number input {
  text-align: right;
}

form.narrow {
  z-index: 100;
  margin-bottom: 1rem;
}

.journalopen {
  text-align: center;
}

.journaldone {
  text-align: center;
}

/* make handle sticky */
.react-resizable-handle.react-resizable-handle-se {
  position: sticky !important;
  bottom: 4px !important;
  left: 100% !important;
}

.react-grid-item > .react-resizable-handle::after {
  width: 9px !important;
  height: 9px !important;
  border-color: #000000 !important;
  border-width: 1px !important;
  background-color: #ffaa66 !important;
}

.addButton {
  background-color: #449911 !important;
  color: #f0f0f0 !important;
}

.addButton:hover {
  background-color: #55aa11 !important;
  color: #ffffff !important;
}

.deleteButton {
  background-color: #cc0000 !important;
  color: #f0f0f0 !important;
}

.deleteButton:hover {
  background-color: #dd4422 !important;
  color: #ffffff !important;
}

.cancelButton {
  background-color: #cc0000 !important;
  color: #f0f0f0 !important;
}

.cancelButton:hover {
  background-color: #dd4422 !important;
  color: #ffffff !important;
}

.saveButton {
  background-color: #2288cc !important;
  color: #f0f0f0 !important;
}

.saveButton:hover {
  background-color: #3399dd !important;
  color: #ffffff !important;
}

.searchButton {
  background-color: #2288cc !important;
  color: #f0f0f0 !important;
}

.searchButton:hover {
  background-color: #3399dd !important;
  color: #ffffff !important;
}

.marginleft {
  margin-left: 1rem !important;
}

.marginright {
  margin-right: 1rem !important;
}

.alignright {
  position: absolute;
  right: 1rem;
}

.extraaction {
  background-color: #f0a000 !important;
  color: #222222 !important;
}

.extraaction:hover {
  background-color: #ffb000 !important;
  color: #000000 !important;
}

.popupButton {
  background-color: '#dddddd';
  border-color: #888888;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 6px 5px 12px 1px rgba(0, 0, 0, 0.25);
}

.popupButton h1 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.popupButton ul {
  list-style-type: square;
  padding-left: 1rem;
}

.popupButton.disabled {
  background-color: #ffdddd;
  border-color: #ffaaaa;
}

.ui.form.narrow div.fields {
  margin: 0 !important;
}

.ui.form.narrow div.fields div.wide {
  padding: 0 1rem !important;
}
