.drFlag {
  display: inline-block !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border: 1px solid #888888 !important;
  opacity: 0.5 !important;
  border-radius: 0px !important;
}

.drFlag.active {
  border: 1px solid black !important;
  opacity: 1 !important;
  cursor: not-allowed;
}

.drFlag.german {
  background-image: url(img/flags/134px-Flag_of_Germany.svg.png) !important;
  height: 1rem;
  width: 1.67rem;
}

.drFlag.english {
  background-image: url(img/flags/160px-Flag_of_the_United_Kingdom.svg.png) !important;
  height: 1rem;
  width: 2rem;
}

span.DRlanguage {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  width: 5rem;
}

span.custroles {
  display: inline-block;
  padding: 0.25rem;
  border: 1px solid #d0d0d0;
  margin: 0.25rem 1rem 0 0;
}
