div.scrollTableWrapper {
  box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.4);
}

div.scrollTableWrapper thead tr th {
  position: sticky;
  top: 0;
}

div.scrollTableWrapper::-webkit-scrollbar {
  width: 20px;
}
div.scrollTableWrapper::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #aaaaaa;
}
div.scrollTableWrapper::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #a0a0a8;
  border-left: 1px solid #ffffff;
  background-image: url(img/noppen.png);
  background-size: 10px;
  background-repeat: repeat;
}
