div.ui.disabled.input {
  opacity: 1 !important;
}

div.ui.disabled.input > input[disabled] {
  color: #000000 !important;
  background-color: #f7f7f7 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  cursor: not-allowed;
}

div.ui.container {
  width: 95% !important;
}

.ui.attached.tabular.menu {
  /*background-color: #e7e7e7 !important;*/
}

.ui.inline.dropdown .dropdown.icon {
  /*margin: -0.78571429em !important;*/
}

.ui.menu {
  font-size: 1rem;
}

.ui.menu .active.item {
  font-size: 1rem !important;
  margin-right: 10px !important;
  padding-top: 1.1em !important;
}
