.react-grid-layout {
  position: relative !important;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  overflow: auto;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.dr-widget {
  border: 1px solid #cccccc !important;
  border-radius: 4px;
  /*overflow: hidden;*/
}

.dr-widget > div {
  cursor: move;
}

.widget_child {
  /*font-family: Arial, Verdana, sans-serif !important;*/
  /*font-weight: 400 !important;
  font-size: 1rem !important;*/
  position: relative;
}

.home .widget_child .text,
.home .react-grid-item {
  background-color: #fefefe !important;
}

.home .react-grid-item {
  /*border-top: 2px solid #ffffff !important;
  border-left: 1px solid #f0f0f0 !important;*/
}

.widget_child .title {
  background-color: #d7d7d7 !important;
}

.widget_child .text {
  text-align: left !important;
  padding: 0.25rem 1rem;
}

.dashboardBackground {
  height: 80vh;
  background-color: #d7d7d7;
  outline: #d7d7d7 solid 30vh;
}

.DR_Widget_View {
  margin: 0 1rem;
  background-color: #fcfcfc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #cccccc;
  cursor: auto !important;
}

.DR_Widget_View form {
  padding: 0.25rem 1rem 1rem 1rem;
  display: block;
}

.paddedlist {
  padding: 0.5rem 0.25rem 1rem 0.25rem;
}

.widget_child > .title {
  position: relative;
}

.widget_child > .title > .right {
  position: absolute;
  right: 0.25rem;
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
}
