@import '~semantic-ui-css/semantic.min.css';
@import '_semantic';
@import '_login';
@import '_message';
@import '_reset';
@import '_profile';
@import '_menu';
@import '_scroll';
@import '_modal';
@import '_mobile';
@import '_dr';
@import '_drComments';
@import '_mro';
@import '_gallery';
@import '_widget';

.ui.fullscreen.modal {
  left: auto !important;
}

div {
  background-color: #ffffff;
}

div.content div,
td div {
  background-color: transparent;
}

#app {
  position: relative;

  overflow-x: auto;
  overflow-y: auto;

  height: 100%;

  .react-grid-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;

    &.editMode {
      top: 60px;
    }
  }

  .ui.visible.top.sidebar ~ .pusher {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
}

.ui.fullscreen.scrolling.modal.transition.visible.active {
  right: 0;
}

.react-grid-item > .react-resizable-handle {
  z-index: 9999;
}

.editMode .widget {
  border: 1px dashed black;
}

.widget {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  will-change: transform;

  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;

  &.state,
  &.status,
  &.infomodal,
  &.const {
    display: flex;
    align-items: center;
    justify-content: center;

    .ui.input {
      width: 100%;
    }
  }

  &.timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.alarm {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ff0000;
  }
}

.ui.form .grouped.fields {
  margin: 0 0 0 !important;
}

.sidebarSmallInput {
  > input {
    width: 100px;
  }
}
